<!-- <div class="header">
  <%= link_to new_story_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Story
  <% end %>
</div> -->
<div class="table-responsive">
  <table class="table">
    <tbody class="table-body">

      <%- @stories.each.with_index do |story, index| %>
      <tr>
        <td>
          <ul>
            <li><%= index + 1 %> <%= link_to story.title, story.link %></li>
            <li>Posted: <%= distance_of_time_in_words(Time.now.to_i - story.created_at.to_i) %> ago &emsp; By:  <%=  story.email %></li>
          </ul>
        </td>
        <!-- <td>
          <%= link_to story, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <% end %>
        </td> -->
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @stories %>
</div>
